<div class="container">
    <h1>Modifier un Todo</h1>
    <!--<h4>{{ diagnostic }}</h4>-->
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
        <div class="form-group">
          <label for="titre">Titre</label>
          <input type="text" class="form-control" id="titre" name="titre" required 
          [(ngModel)] = "todo.titre" #titre="ngModel">
          <div [hidden]="isTitreValide()" class="alert alert-danger">
            <div class="alert alert-danger">
              Le titre du todo est obligatoire
            </div>
          </div>
        </div>      
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text"ss="form-control" id="description" name="description" required 
                  [(ngModel)] = "todo.description" #description="ngModel">
          <div>
            <div [hidden]="isDescriptionValide()" class="alert alert-danger">
              La description du todo est obligatoire
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dateExecution">Date d'exécution</label>
          <input type="date" class="form-control" id="dateExecution"
           [(ngModel)] = "todo.dateExecution" name="dateExecution"> 
          <div [hidden]="isValid(todo.dateExecution)">
            <div class="alert alert-danger">
              La date d'exécution du todo est obligatoire
            </div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="!isSaisieOK()">Enregistrer le todo</button>
        <br><br>
        <button class="btn btn-light" (click)="ecranPrecedent()">Ecran précédent</button>
        <br><br>
        <button class="btn btn-light" (click)="retour()">Retour vers la liste des Todos</button>
        <br><br>
        <button class="btn btn-light" (click)="accueil()">Retour à l'accueil</button>
      </form>
    </div>
</div>