<div *ngIf="todo" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ todo.titre }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Titre</td>
                <td><strong>{{ todo.titre }}</strong></td>
              </tr>
              <tr>
                <td>Description</td>
                <td><strong>{{ todo.description }}</strong></td>
              </tr>
              <tr>
                <td>Date d'execution</td>
                <td><em>{{ todo.dateExecution | date:"dd/MM/yyyy" }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div class="card-action">
          <button class="btn btn-light" (click)="retour()">Retour vers la liste des Todos</button>
          <br><br>
          <button class="btn btn-light" (click)="accueil()">Retour à l'accueil</button>
          <br><br>
          <button class="btn btn-light" (click)="modifierTodo(todo)">Modifier</button>
          <br><br>
          <button class="btn btn-light" (click)="deleteTodo(todo.id)">Supprimer</button>
          
        </div>
      </div>
    </div>
    </div>
    </div>
    <h4 *ngIf='!todo' class="center">Aucune tache à afficher !</h4>